<div class="panel left">
    <ng-content select='[headerLeftPanelTopTemplate]'></ng-content>
    <div class="view">
        <byz-select *ngIf='enableFilterView' [options]="allViews" [ngModel]="activeViewId"
            (ngModelChange)='activeViewId=$event;changeActiveView()' [showClear]="false"></byz-select>
    </div>
    <ng-content select='[headerLeftPanelBottomTemplate]'></ng-content>
</div>
<div class="panel right">
    <div class="action-buttons">
        <ng-content select='[headerRightPartPanelActionButtonTemplate]'></ng-content>
    </div>
    <div class="buttons">
        <byz-input [showClear]="false" [(ngModel)]='keyword' (keyup.enter)='search()' placeholder="搜索此列表">
        </byz-input>
        <byz-button type="default" icon="byz-icon bi-arrow-back" byzTooltip="清除搜索" tooltipPosition="bottom">
        </byz-button>
        <!-- <byz-button type="default" icon="byz-icon bi-settings" byzTooltip="设置" tooltipPosition="bottom"
            *ngIf='displayMode==="browser"'></byz-button> -->
        <byz-button type="default" icon="byz-icon bi-refresh" byzTooltip="刷新" (click)='refresh()' tooltipPosition="bottom"></byz-button>
        <!-- <byz-button type="default" icon="byz-icon bi-funnel" byzTooltip="筛选器" tooltipPosition="bottom"
            *ngIf='displayMode==="browser"'>
        </byz-button> -->
    </div>
</div>