:host {
    position: relative;
    display: block;
    $size: 36px;

    div.filter-item-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        justify-items: flex-start;
        align-items: center;
        width: 100%;
        border: 1px solid #D5D8E1;
        border-radius: 3px;
        padding: 7px 20px 7px 15px;

        &:hover {
            cursor: pointer;
            border-color: var(--byz-button-default-hover-border);
        }

        span.field {
            // flex: 0 0 auto;
            display: inline-block;
            margin-right: 8px;
            line-height: 22px;
            color: #555C71;
            font-size: 14px;
            font-weight: 400;
        }

        span.value {
            display: inline-block;
            border: 1px solid rgba(202, 223, 250, 1);
            padding: 2px 6px;
            line-height: 16px;
            background: rgba(240, 247, 255, 1);
            border-radius: 2px;
            color: #608CE0;
        }

    }

    div.close {
        position: absolute;
        top: 8px;
        right: 3px;
        $s: 20px;
        width: $s;
        height: $s;
        line-height: $s;
        font-size: $s;
        text-align: center;
        color: #B0ADAB;

        &:hover {
            cursor: pointer;
            color: #514F4D;
        }

    }
}