:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    // user-select: none;

    table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
        $table_cell_height: 48px;

        &.disable-select {
            user-select: none;
        }

        thead {
            .table-row {
                .table-cell {
                    $bgc: #F8F9FB;
                    position: sticky;
                    top: 0;
                    background-color: $bgc;
                    border-bottom: none;
                    z-index: 8;

                    &.frozen {
                        z-index: 10;
                    }

                    &:hover {
                        div.cell-wrapper {
                            div.tools {
                                div.indicator {
                                    div.advance-setting {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    div.cell-wrapper {
                        border-bottom: 1px solid #D5D8E1;
            

                        div.tools {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            height: $table_cell_height - 1;

                            &[sort=asc] {
                                div.indicator {
                                    span.sort {
                                        &::before {
                                            content: '\21BE';
                                        }
                                    }
                                }
                            }

                            &[sort=desc] {
                                div.indicator {
                                    span.sort {
                                        &::before {
                                            content: '\21C2';
                                        }
                                    }
                                }
                            }

                            p {
                                height: 100%;
                                line-height: $table_cell_height - 2px;
                                // padding-left: .5em;
                                overflow: hidden;
                                font-weight: bold;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }


                            div.indicator {
                                flex: 1;
                                display: flex;
                                height: 100%;
                                flex-flow: row nowrap;
                                align-items: center;
                                padding-right: .2em;
                                background-color: $bgc;
                                z-index: 1;

                                span.sort {
                                    flex: 1;
                                    height: 100%;
                                    padding: 0 .4em;
                                    line-height: $table_cell_height - 2px;
                                    // color: #608CE0;
                                    color: black;
                                }

                                div.resizer-handler {
                                    display: inline-block;
                                    // width: 10px;
                                    margin-left: 5px;
                                    height: $table_cell_height / 2;

                                    &:hover {
                                        cursor: col-resize;
                                    }

                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 2px;
                                        height: 100%;
                                        margin: auto;
                                        background-color: #E2E2E2;
                                    }
                                }

                                div.advance-setting {
                                    display: inline-block;
                                    $s: 18px;
                                    width: $s;
                                    height: $s;
                                    margin-right: .2em;
                                    transition: 250ms opacity;
                                    // background-color: pink;
                                    opacity: 0;

                                    .col-setting {
                                        width: $s;
                                        height: $s;
                                        font-size: $s;

                                        &:hover {
                                            cursor: pointer;
                                            background-color: #F2F2F2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        tbody {
            .table-row {
                .table-cell {
                    background-color: #fff;

                    &.frozen {

                        &.last {
                            div.cell-wrapper {
                                border-right: 1px solid #D5D8E1;
                            }
                        }
                    }
                }
            }
        }

        .table-row {
            height: $table_cell_height;
            max-height: $table_cell_height;

            .table-cell {
                $bgc: #F8F9FB;
                height: $table_cell_height;
                max-height: $table_cell_height;
                border-bottom: 1px solid #D5D8E1;
                // background-color: #fff;
                text-align: left;
                font-size: 14px;
                vertical-align: middle;
                div.cell-wrapper {
                    height: $table_cell_height;
                    padding: 0 0 0 12px;
                }
                &.frozen {
                    position: sticky;
                    z-index: 9;
                }

            }
        }
    }

}