<table #table>
    <thead>
        <tr class="table-row">
            <ng-container *ngFor='let col of columns;trackBy:trackByColumnFn;let l=last'>
                <th class="table-cell" [dynamicStyleWidth]='col.width' #headerCell>
                    <div class="table-cell-wrapper" [sortTableColumn]='col' (sort)='onSort($event)'>
                        <p class="title">{{col.name}}</p>
                        <div class="indicator">
                            <span class="sort"></span>
                            <div *ngIf='advanceColSettingMenu?.length' class="advance-setting"
                                (click)='currentEditColumn=col.field;advanceButtonMenuCt.toggle($event);$event.stopPropagation();'>
                                <span class="byz-icon col-setting bi-chevron-down"></span>
                            </div>
                            <div class="resizer-handler" [columResizerHandler]='headerCell' [snapline]='snapline'
                                (beforeResize)='beforeColumnResize()' (afterResize)='afterColumnResize()'>
                            </div>
                        </div>
                    </div>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor='let rowData of datas;trackBy:trackByDataFn'>
            <tr class="table-row" (click)='onRowClick(rowData)' [class.hidden]='rowData["_hidden"]'
                [tableStateRow]='rowData' [enableRowState]='enableRowState' [class.active]='rowData["_active"]'>
                <ng-container *ngFor='let col of columns;trackBy:trackByColumnFn;let f=first;'>
                    <td class="table-cell">
                        <ng-container *ngIf='shownNestedData && col.field===nestedToggleField'>
                            <span class="toggle-nested" [style.width.em]='rowData["_level"]*2'>
                                <i class="byz-icon bi-chevron-right" *ngIf='rowData["_hasChildren"]'
                                    [class.open]='rowData["_hideNestedData"]'
                                    (click)='toggleNestedData(rowData,$event)'></i>
                            </span>
                        </ng-container>
                        <span [class.link-column]='col.link'
                            (click)='onLinkFieldClick(col.field,rowData,col.link)'>{{rowData[col.field]}}</span>
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>

<p-slideMenu styleClass='table-advance-setting-slide-menu' appendTo="body" #advanceButtonMenuCt [model]="advanceColSettingMenu"
    [popup]="true">
</p-slideMenu>