:host {
    position: relative;
    display: flex;
    flex-flow: row;
    border-bottom: none;
    border: 1px solid #D5D8E1;
    overflow: hidden;

    dgrid-sync-scroll-panel {
        flex: 1;
        height: 100%;
    }

    dgrid-table {
        flex: 1;
        height: 100%;
    }

    div.header-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        background-color: #F8F9FB;
        border-bottom: 1px solid #D5D8E1;
        z-index: 1;
    }

    div.advance-setting-panel {
        width: 0;
        height: 100%;
        z-index: 100;
        overflow: hidden;
        background-color: #F8F9FB;
        z-index: 2;
        &.show {
            border-left: 1px solid #D5D8E1;
            width: 248px;
        }
    }

    div.table-bar {
        $s: 30px;
        width: $s;
        border-left: 1px solid #D5D8E1;
        background-color: #F8F9FB;
        padding-top: 48px;
        z-index: 2;
        div.setting {
            position: relative;
            width: $s;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            writing-mode: vertical-rl;
            margin-bottom: 1.5em;
            user-select: none;

            &.active {
                border-left: 2px solid var(--byz-button-default-hover-foreground);
            }

            &:hover {
                cursor: pointer;
                color: var(--byz-button-default-hover-foreground);
            }

            &>span {
                &:first-of-type {
                    margin-bottom: 8px;
                }
            }
        }
    }

    div.snapline {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #608CE0;
        z-index: 9999;
        opacity: 0;
    }

    .hidden {
        width: 0;
    }
}