:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    $borderColor: #D5D8E1;

    &.disable-user-select {
        user-select: none !important;
    }

    .table {
        position: absolute;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border: 1px solid $borderColor;

        .row {
            width: 100%;

            &.head {}

            .cell {
                border-bottom: 1px solid $borderColor;
                text-align: left;

                &.head {
                    height: 48px;
                    background-color: #F8F9FB;
                }

                &.content {
                    height: 48px;
                }
            }

            &.content {
                &.even {
                    background-color: #FCFDFE;
                }
            }
        }
    }

    div.snapline {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #608CE0;
        z-index: 9999;
        opacity: 0;
    }
}