<dgrid>
    <p headerLeftPanelTopTemplate>用户信息</p>
    <div headerLeftPanelBottomTemplate>
        <div class="quick-query-bar">
            <div class="item">
                <label>性别</label>
                <div>
                    <span>男</span>
                    <span>女</span>
                    <span>男</span>
                    <span>女</span>
                    <span>男</span>
                    <span>女</span>
                </div>
            </div>
            <div class="item">
                <label>婚姻</label>
                <div>
                    <span>已婚</span>
                    <span>未婚</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="action-buttons" headerRightPartPanelActionButtonTemplate>
        <div class="buttons">
            <button>新建</button>
        </div>
    </div> -->
</dgrid>