<div class="grid-content" #gridContent>
    <xcloud-grid-sync-scroll-panel *ngIf='syncMasterAreaConfirm&&displayMode==="table"'>
        <ng-template syncScrollArea='slave' *ngIf='selectMode'>
            <xcloud-grid-tool-table [datas]='datas' [radioSelect]='radioSelect' [selectMode]='selectMode'>
            </xcloud-grid-tool-table>
        </ng-template>

        <ng-template syncScrollArea='slave'>
            <xcloud-grid-frozen-table [class.hidden]='!frozenColumns.length' [snapline]='snapline'
                [selectMode]='selectMode' [columns]='frozenColumns' [datas]='datas' (afterResize)='afterColumnResize()'
                (radioSelectChange)='radioSelect=$event'>
            </xcloud-grid-frozen-table>
        </ng-template>

        <ng-template syncScrollArea='master'>
            <xcloud-grid-unfrozen-table [snapline]='snapline' [selectMode]='selectMode' [columns]='unfrozenColumns'
                [datas]='datas' (afterResize)='afterColumnResize()' (radioSelectChange)='radioSelect=$event'>
            </xcloud-grid-unfrozen-table>
        </ng-template>

        <ng-template *ngIf='showOperationTable' syncScrollArea='master'>
            <xcloud-grid-operation-table [datas]='datas'>
            </xcloud-grid-operation-table>
        </ng-template>
    </xcloud-grid-sync-scroll-panel>

    <xcloud-grid-card-table *ngIf='syncMasterAreaConfirm&&displayMode==="card"' [selectMode]='selectMode'
        [datas]='datas'></xcloud-grid-card-table>


    <!-- <xcloud-grid-sync-scroll-panel *ngIf='syncMasterAreaConfirm'>
        <ng-template syncScrollArea='slave' *ngIf='selectMode'>
            <xcloud-grid-tool-table [datas]='datas' [radioSelect]='radioSelect' [selectMode]='selectMode'>
            </xcloud-grid-tool-table>
        </ng-template>

        <ng-template syncScrollArea='slave'>
            <xcloud-grid-frozen-table [class.hidden]='!frozenColumns.length' [snapline]='snapline'
                [selectMode]='selectMode' [columns]='frozenColumns' [datas]='datas' (afterResize)='afterColumnResize()'
                (radioSelectChange)='radioSelect=$event'>
            </xcloud-grid-frozen-table>
        </ng-template>

        <ng-template syncScrollArea='master'>
            <xcloud-grid-unfrozen-table [snapline]='snapline' [selectMode]='selectMode' [columns]='unfrozenColumns'
                [datas]='datas' (afterResize)='afterColumnResize()' (radioSelectChange)='radioSelect=$event'>
            </xcloud-grid-unfrozen-table>
        </ng-template>

        <ng-template *ngIf='showOperationTable' syncScrollArea='master'>
            <xcloud-grid-operation-table [datas]='datas'>
            </xcloud-grid-operation-table>
        </ng-template>
    </xcloud-grid-sync-scroll-panel> -->

    <div class="filter-panel" [class.show]='showFilterView'>
        <div #filterPanelAnchor></div>
    </div>
    <div class="snapline" #snapline></div>
</div>