<table>
    <ng-container *ngFor='let rowData of datas;let i=index;trackBy:trackByDataFn'>
        <tr [class]='i%2==0?"odd":"event"' (click)='onSelect(rowData)'>
            <td colspan="2">
                <byz-checkbox *ngIf='selectMode === "multiple"' [ngModel]="rowData._selected" binary="true">
                </byz-checkbox>
                <byz-radio-button *ngIf='selectMode === "single"' name="select" [value]="rowData.id"
                    [(ngModel)]="radioSelect"></byz-radio-button>
            </td>
        </tr>
        <ng-container *ngFor='let col of columns'>
            <tr [class]='i%2==0?"odd":"event"' (click)='onSelect(rowData)'>
                <td>{{col.name}}</td>
                <td>{{rowData[col.field]}}</td>
            </tr>
        </ng-container>
        <tr [class]='i%2==0?"odd":"event"' *ngIf='!selectMode'>
            <td colspan="2">
                <byz-button class="op-button" icon="byz-icon bi-settings" (click)='showAdvanceSetting($event,rowData)'>
                </byz-button>
            </td>
        </tr>
    </ng-container>
</table>

<p-slideMenu appendTo="body" #menu [model]="advanceButtonMenu" [popup]="true" #advanceButtonMenuCt>
</p-slideMenu>