div.quick-query-bar {
    margin-top: 10px;

    div.item {
        display: flex;
        align-items: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &:first-of-type {
            &>div {
                span {
                    margin-top: 0;
                }
            }
        }

        // &:last-of-type {
        //     &>div {
        //         span {
        //             margin-bottom: 0;
        //         }
        //     }
        // }

        &>label {
            // align-self: flex-start;
            margin-right: 12px;
            word-break: keep-all;

            &::after {
                content: ':';
            }
        }

        &>div {
            span {
                display: inline-block;
                margin: 4px 8px 4px 0;
                padding: 2px 12px;
                line-height: 16px;
                font-size: 12px;
                color: var(--byz-text-color);
                background-color: var(--byz-color-gray-step-3);
                border-radius: 3px;
                border: 1px solid transparent;

                &.active {
                    background-color: var(--byz-button-primary-background);
                    color: white;
                }

                &:hover {
                    cursor: pointer;
                    // border-color: #c1c7d0;
                }
            }
        }
    }
}

div.buttons {
    display: flex;
    justify-content: flex-end;
}