:host {
    display: block;
    // padding: 0 1.2em;

    div.bar {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #fff;
        padding: 0 1.2em;
        user-select: none;

        &:hover {
            cursor: pointer;
            color: var(--byz-button-default-hover-foreground);
        }

        .byz-icon {
            font-size: 1.2em;
            font-weight: 600;
            margin-right: .4em;
            transition: transform 100ms;

            &.expand {
                transform: rotate(90deg);
            }
        }

        p.title {
            height: 2em;
            line-height: 2em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


    }

    div.filter {
        padding: 1em 1.8em;

        &.hidden {
            display: none;
        }

        byz-select {
            margin-bottom: .8em;
        }
    }
}