<div class="column-filter-panel">
    <div class="header">
        <p class="title">
            <span class="byz-icon bi-funnel"></span>
            <span>筛选器</span>
        </p>
        <span class="byz-icon bi-close-3 close" (click)='cancal()'></span>
    </div>
    <div class="advance">
        <byz-select [options]="logicalOperations" placeholder="请选择运算符" [showClear]="false"
            [(ngModel)]='logicalOperation'>
        </byz-select>
    </div>
    <div class="content">
        <div #filterItemsContainer></div>
        <byz-button class="add-filter" type="default" icon="byz-icon bi-plus" (click)='addFilterItem()'>新增筛选条件
        </byz-button>
    </div>
    <div class="filter-operation" *ngIf='filterItemBoxs?.length'>
        <span (click)='clearFilterItems()'>清空</span>
    </div>
    <div class="footer">
        <byz-button type="default" label="筛选" (click)='query(true)'></byz-button>
        <byz-split-button *ngIf='enableFilterView' label="筛选并保存" [class.noMenu]='!operationMenus?.length'
            (onClick)="saveAndQuery()" [model]="operationMenus"></byz-split-button>
    </div>
</div>