<div class="column-filter-view-edit-panel">
    <div class="content">
        <form byzForm [formGroup]="editForm" labelPosition='top' [cols]="1">
            <byz-form-item label="视图名称">
                <byz-input type="text" formControlName="name" placeholder="请输入视图名称">
                </byz-input>
            </byz-form-item>
        </form>
    </div>
    <div class="footer">
        <byz-button type="default" (click)='ref.close()'>取消</byz-button>
        <byz-button type="primary" [disabled]='!editForm.valid' (click)='save()'>保存</byz-button>
    </div>
</div>