<div class="header">
    <dgrid-setting-panel-keyword-search [(keyword)]='keyword'></dgrid-setting-panel-keyword-search>
</div>
<div class="content">
    <!-- <div style="height: 1200px;background-color: pink;">ksdf</div> -->
</div>
<div class="footer">
    <byz-button type="default" label="筛选" (click)='query()'></byz-button>
    <byz-split-button *ngIf='enableFilterView' label="筛选并保存" [class.noMenu]='!operationMenus?.length'
    (onClick)="saveAndQuery()" [model]="operationMenus"></byz-split-button>
</div>