:host {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

    div.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        border-bottom: 1px solid #D5D8E1;

        dgrid-setting-panel-keyword-search {
            padding: 0 1em;
        }
    }

    div.content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1em;

        &::-webkit-scrollbar {
            border-top: none;
            border-right: none;
            border-bottom: none;
        }

        div.filter-item {
            display: flex;
            align-items: center;

            .collapse-button {
                font-size: 1.2em;
                font-weight: 500;
                margin-right: .4em;
                transition: transform 100ms;
                &.expand {
                    transform: rotate(90deg);
                }

                &:hover {
                    cursor: pointer;
                    color: var(--byz-button-default-hover-foreground);
                }
            }
        }

    }

    div.footer {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        height: 40px;
        padding: 0 1em;

        &>* {
            margin-left: 8px;
        }
    }
}