xcloud-grid-header {
    div.grid-header {
        .ui-inputtext {
            // padding: .25em;
        }

        div.view {
            byz-select {
                p-dropdown {
                    &:focus {
                        outline: none;
                    }

                    .ui-dropdown {
                        min-width: 120px;
                        border-color: transparent !important;
                        box-shadow: 0 0 0 0 !important;
                        $lh: 20px;

                        .ui-dropdown-label-container {
                            &:focus {
                                outline: none !important;
                            }

                            &>.ui-dropdown-label.ui-inputtext {
                                position: relative;
                                // height: 26px;

                                .ui-dropdown-label {
                                    // line-height: 18px;
                                    font-size: $lh;
                                    line-height: $lh;
                                    padding: 0 8px 0 0;
                                }

                                &::after {
                                    content: '▼';
                                    position: absolute;
                                    right: 10px;
                                    line-height: $lh;
                                    font-size: 18px;
                                    line-height: $lh;
                                }
                            }
                        }

                        .ui-dropdown-trigger {
                            display: none;
                        }


                    }
                }
            }
        }

        div.buttons {
            div.search {
                byz-input {

                    .ui-inputtext {
                        width: 132px;
                        height: 28px;
                    }
                }
            }

            byz-button {
                $s: 28px;

                .ui-button {
                    width: $s;
                    height: $s;

                    // font-size: $s;
                    // &:focus {
                    //     background: var(--byz-button-primary-background);
                    //     color: var(--byz-button-primary-foreground)
                    // }
                }
            }
        }
    }
}

xcloud-grid-footer {
    p-paginator {
        &.mobile {
            .ui-paginator-current {
                display: none;
            }

            p-dropdown {
                display: none;
            }
        }

        .ui-paginator {
            $bgc: #F8F9FB;
            background-color: $bgc !important;
            border-color: #D5D8E1;
            border-top: none;

            .ui-paginator-current {
                font-size: 14px;
                color: var(--byz-text-color-light);
            }

            &>.ui-paginator-element {
                height: 32px;
                outline: none;

                &:hover {
                    background-color: $bgc !important;
                }

                &:focus {
                    box-shadow: 0 0 0 0 !important;
                }

                $uiPaginatorIconFontSize:25px;
                $uiPaginatorIconFontWeight:400;

                &.ui-paginator-first {
                    .ui-paginator-icon {
                        font-size: $uiPaginatorIconFontSize;
                        font-weight: $uiPaginatorIconFontWeight;

                        &::before {
                            content: '\00AB';
                        }
                    }
                }

                &.ui-paginator-prev {
                    .ui-paginator-icon {
                        font-size: $uiPaginatorIconFontSize;
                        font-weight: $uiPaginatorIconFontWeight;

                        &::before {
                            content: '\2039';
                        }
                    }
                }

                &.ui-paginator-next {
                    .ui-paginator-icon {
                        font-size: $uiPaginatorIconFontSize;
                        font-weight: $uiPaginatorIconFontWeight;

                        &::before {
                            content: '\203A';
                        }
                    }
                }

                &.ui-paginator-last {
                    .ui-paginator-icon {
                        font-size: $uiPaginatorIconFontSize;
                        font-weight: $uiPaginatorIconFontWeight;

                        &::before {
                            content: '\00BB';
                        }
                    }
                }

                &.ui-state-disabled {
                    .ui-paginator-icon {
                        &:hover {
                            color: #848484;
                            background-color: $bgc;
                        }
                    }
                }

                .ui-paginator-icon {
                    position: relative;
                    top: 0;
                    left: 0;
                    $size: 20px;
                    width: $size;
                    height: $size;
                    min-width: 0;
                    min-height: 0;
                    margin: 6px;
                    font-size: $size;
                    border-radius: 4px;
                    line-height: 14px;
                    color: #848484;

                    &:hover {
                        // color: #608CE0;
                        background-color: #e0e0e0;
                    }
                }
            }

            .ui-paginator-pages {
                height: 32px;

                .ui-paginator-element {
                    $size: 20px;
                    width: $size !important;
                    height: $size !important;
                    min-width: 0 !important;
                    min-height: 0 !important;
                    margin: 6px !important;
                    border-radius: 4px !important;
                    line-height: $size !important;
                    color: #555C71;

                    &.ui-state-active {
                        background-color: #608CE0 !important;
                    }
                }
            }

            .ui-dropdown {
                background-color: $bgc;

                .ui-dropdown-label-container {
                    .ui-inputtext {
                        background-color: $bgc;
                    }
                }

                .ui-dropdown-trigger {
                    background-color: $bgc;

                    .ui-dropdown-trigger-icon {
                        // font-size: 12px;
                        top: -1px;
                        left: -2px;
                        right: 0;
                        bottom: 0;
                        margin: 0;
                        padding: 0;

                        // transform: scale(1.2);
                        &::after {
                            content: '▼';
                            font-size: 12px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }

    // &.mobile{

    // }
}

xcloud-grid-column-filter-panel {
    div.column-filter-panel {
        div.advance {
            byz-select {
                p-dropdown {
                    &:focus {
                        outline: none;
                    }

                    .ui-dropdown {
                        border: none;
                        box-shadow: 0 0 0 0 !important;

                        .ui-dropdown-label-containe {
                            &:focus {
                                outline: none !important;
                            }
                        }

                        .ui-dropdown-trigger {
                            .ui-dropdown-trigger-icon {
                                color: var(--byz-text-color);
                            }
                        }
                    }
                }
            }
        }

        div.content {
            xcloud-grid-filter-item-box {
                margin-bottom: 8px;
            }

            byz-button.add-filter {
                width: 100%;

                p-button {
                    width: 100%;
                    // height: 32px;

                    .ui-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 32px;

                        .ui-button-icon-left {
                            position: relative;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0;
                            padding: 0;
                        }

                        .ui-button-text {
                            margin-left: 10px;
                            padding: 0;
                        }
                    }
                }
            }
        }

        div.footer {
            .ui-button {
                height: 28px;
                padding: 0;

                .ui-button-text {
                    padding: 0 10px;
                }
            }

            byz-split-button {
                &.noMenu {
                    .ui-splitbutton {
                        .ui-button {
                            border-radius: var(--byz-border-radius);
                        }

                        .ui-splitbutton-menubutton {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

xcloud-grid-operation-table {
    .op-button {
        $s: 24px;

        .ui-button {
            width: $s !important;
            height: $s !important;
            padding: 0 !important;

            .byz-icon {
                position: relative;
                top: 3px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0 !important;
                width: $s !important;
                height: $s !important;
                font-size: 16px;
            }
        }
    }
}

div.transfer-drag-item {
    $lrp: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 $lrp;
    z-index: 90001;

    &:hover {
        cursor: pointer;
        background-color: #F0F3F7;

        &>span.byz-icon {
            display: inline-block;
        }
    }

    &.cdk-drag-preview {
        border-radius: 2px;
        background: #fff;
        box-shadow: 0px 2px 4px rgba(85, 92, 113, 0.2);

        &:hover {
            cursor: move;
        }

        &>span.byz-icon {
            display: inline-block;
        }
    }

    byz-checkbox {
        flex: 1;
        overflow: hidden;

        p-checkbox {
            display: flex;
            align-items: center;

            .ui-chkbox-label {
                flex: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    &>span.byz-icon {
        display: none;
        $s: 14px;
        width: $s;
        height: $s;
        font-size: $s;
        margin: 8px;

        // &:hover {
        //     cursor: move;
        // }

        // &:active {
        //     cursor: move;
        // }
    }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}