:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    overflow: auto;
    $bgc: #F8F9FB;

    &::-webkit-scrollbar {
        border: none;
        background-color: $bgc;
    }

    &::-webkit-scrollbar:vertical {
        border-top: none;
        border-right: none;
        border-bottom: none;
    }

    &::-webkit-scrollbar-track-piece:vertical {
        margin-top: 47px;
        border-left: 1px solid #D5D8E1;
        border-top: 1px solid #D5D8E1;
    }

    &::-webkit-scrollbar-track-piece:horizontal {
        border-top: 1px solid #D5D8E1;
    }

    div.table {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        // height: 100%;
        // overflow: auto;

        &.disable-select {
            user-select: none;
        }

        div.range {
            display: flex;
            flex-flow: row nowrap;

            &.frozen {
                display: block;
                // border-right: 1px solid #D5D8E1;
                position: sticky;
                left: 0;
                z-index: 9 !important;

                div.column {
                    width: 100px;
                    display: inline-block;

                    &:last-of-type {
                        div.cell:not(.header) {
                            border-right: 1px solid #D5D8E1;
                        }
                    }

                    div.cell {
                        z-index: 10 !important;
                    }
                }
            }

            &.unfrozen {
                flex: 1;
            }

            div.column {
                flex: 1 0 100px;
                height: auto;
                min-width: 100px;
                align-self: stretch;

                &.hidden {
                    display: none;
                }

                div.cell {
                    $cell_height: 48px;
                    height: $cell_height;
                    overflow: hidden;
                    border-bottom: 1px solid #D5D8E1;

                    &.header {
                        background-color: $bgc;
                        position: sticky;
                        top: 0;
                        z-index: 8;

                        &:hover {
                            div.cell-wrapper {
                                div.indicator {
                                    div.advance-setting {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        div.cell-wrapper {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            height: $cell_height - 1;

                            &.sortable {
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            &[sort=asc] {
                                div.indicator {
                                    span.sort {
                                        &::before {
                                            content: '\21BE';
                                        }
                                    }
                                }
                            }

                            &[sort=desc] {
                                div.indicator {
                                    span.sort {
                                        &::before {
                                            content: '\21C2';
                                        }
                                    }
                                }
                            }

                            p {
                                height: 100%;
                                line-height: $cell_height - 2px;
                                padding-left: .5em;
                                overflow: hidden;
                                font-weight: bold;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                user-select: none;
                            }


                            div.indicator {
                                flex: 1;
                                display: flex;
                                height: 100%;
                                flex-flow: row nowrap;
                                align-items: center;
                                // padding-right: .2em;
                                background-color: $bgc;
                                z-index: 1;

                                span.sort {
                                    flex: 1;
                                    height: 100%;
                                    padding: 0 .4em;
                                    line-height: $cell_height - 2px;
                                    // color: #608CE0;
                                    color: black;
                                }

                                div.resizer-handler {
                                    display: inline-block;
                                    width: 6px;
                                    // background-color: orange;
                                    margin-left: 5px;
                                    // margin-right: -2px;
                                    height: $cell_height / 2;
                                    z-index: 999;

                                    &:hover {
                                        cursor: col-resize;
                                    }

                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 2px;
                                        height: 100%;
                                        margin: auto;
                                        background-color: #E2E2E2;
                                    }
                                }

                                div.advance-setting {
                                    display: inline-block;
                                    $s: 18px;
                                    width: $s;
                                    height: $s;
                                    // margin-right: .2em;
                                    transition: 250ms opacity;
                                    // background-color: pink;
                                    opacity: 0;

                                    .col-setting {
                                        width: $s;
                                        height: $s;
                                        font-size: $s;

                                        &:hover {
                                            cursor: pointer;
                                            background-color: #F2F2F2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.body {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // white-space: nowrap;
                        word-break: break-all;
                        padding: 0 12px;
                        background-color: #fff;

                        &:nth-last-of-type(odd) {
                            background-color: #FCFDFE;
                        }
                    }
                }
            }
        }
    }
}