<div class="table" [style.minWidth.px]='tableMinWidth' *ngIf='columns?.length'>
    <div class="range frozen">
        <div class="column" *ngFor='let col of frozenColumns;trackBy:trackByColumnFn' columnType='frozen'
            [dynamicStyleWidth]='col.width' [attr.field-name]='col.field' [class.hidden]='col.hidden' #headerCell>
            <div class="cell header">
                <ng-container *ngTemplateOutlet='headerCellTpl;context:{column:col,type:"frozen"}'></ng-container>
            </div>
            <div class="cell body" *ngFor='let rowData of datas;trackBy:trackByDataFn'>
                <span>{{rowData[col.field]}}</span>
            </div>
        </div>
    </div>
    <div class="range unfrozen">
        <div class="column" *ngFor='let col of unfrozenColumns;trackBy:trackByColumnFn' columnType='unfrozen'
            [dynamicStyleWidth]='col.width' [attr.field-name]='col.field' [class.hidden]='col.hidden' #headerCell>
            <div class="cell header">
                <ng-container *ngTemplateOutlet='headerCellTpl;context:{column:col,type:"unfrozen"}'></ng-container>
            </div>
            <div class="cell body" *ngFor='let rowData of datas;trackBy:trackByDataFn'>
                <span>{{rowData[col.field]}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template let-col='column' let-type='type' #headerCellTpl>
    <div class="cell-wrapper" #cellWrapper [sortTableColumn]='col' [state]='sort' (sort)='onSort($event)'>
        <p class="title">{{col.name}}</p>
        <div class="indicator">
            <span class="sort"></span>
            <div class="resizer-handler" [columnResizerHandler]='cellWrapper' [snapline]='snapline' [columnType]='type'
                (afterResize)='afterColumnResize()'>
            </div>
        </div>
    </div>
</ng-template>