<div class="filter-item-setting-panel">
    <div class="content">
        <form byzForm [formGroup]="editForm" labelPosition='top' [cols]="1">
            <byz-form-item label="字段" order="1" required='true'>
                <byz-select [options]="fields" formControlName="field" [showClear]="true" required placeholder="请选择运算符">
                </byz-select>
            </byz-form-item>
            <byz-form-item label="条件" order="2" required='true'>
                <byz-select [options]="operators" formControlName="operator" [showClear]="true" required
                    placeholder="请选择条件"></byz-select>
            </byz-form-item>
            <byz-form-item label="值" order="3">
                <byz-input type="text" formControlName="value" placeholder="请输入值">
                </byz-input>
            </byz-form-item>
        </form>
    </div>
    <div class="footer">
        <byz-button type="default" (click)='ref.close()'>取消</byz-button>
        <byz-button type="primary" (click)='save()' [disabled]='!editForm.valid'>保存</byz-button>
    </div>
</div>