<div class="grid">
    <xcloud-grid-header class="grid-header">
        <ng-content select='[headerLeftPartPanelTopTemplate]' ngProjectAs="[headerLeftPartPanelTopTemplate]">
        </ng-content>
        <ng-content select='[headerLeftPartPanelBottomTemplate]' ngProjectAs="[headerLeftPartPanelBottomTemplate]">
        </ng-content>
        <ng-content select='[headerRightPartPanelActionButtonTemplate]'
            ngProjectAs="[headerRightPartPanelActionButtonTemplate]">
        </ng-content>
    </xcloud-grid-header>
    <div class="grid-content-wrapper">
        <div class="revisor">
            <xcloud-grid-content class="grid-content"></xcloud-grid-content>
        </div>
    </div>
    <xcloud-grid-footer class="grid-footer" *ngIf='!noPagination'></xcloud-grid-footer>
</div>