dgrid-header {
    div.panel {
        &.left {
            div.view {
                byz-select {
                    p-dropdown {
                        &:focus {
                            outline: none;
                        }

                        .ui-dropdown {
                            min-width: 120px;
                            border-color: transparent !important;
                            box-shadow: 0 0 0 0 !important;
                            $lh: 20px;

                            .ui-dropdown-label-container {
                                &:focus {
                                    outline: none !important;
                                }

                                &>.ui-dropdown-label.ui-inputtext {
                                    position: relative;
                                    // height: 26px;

                                    .ui-dropdown-label {
                                        // line-height: 18px;
                                        font-size: $lh;
                                        line-height: $lh;
                                        padding: 0 8px 0 0;
                                    }

                                    &::after {
                                        content: '▼';
                                        position: absolute;
                                        right: 10px;
                                        line-height: $lh;
                                        font-size: 18px;
                                        line-height: $lh;
                                    }
                                }
                            }

                            .ui-dropdown-trigger {
                                display: none;
                            }


                        }
                    }
                }
            }
        }

        &.right {
            div.buttons {
                byz-input {

                    .ui-inputtext {
                        width: 132px;
                        height: 28px;
                    }
                }

                byz-button {
                    $s: 28px;

                    .ui-button {
                        width: $s;
                        height: $s;
                    }
                }
            }
        }
    }
}

dgrid-setting-panel-keyword-search {
    byz-input {
        width: 100%;

        .ui-inputtext {
            width: 100%;
            height: 28px;
        }
    }
}

dgrid-filter-setting-panel {
    div.footer {
        .ui-button {
            height: 28px;
            padding: 0;

            .ui-button-text {
                padding: 0 10px;
            }
        }

        byz-split-button {
            &.noMenu {
                .ui-splitbutton {
                    .ui-button {
                        border-radius: var(--byz-border-radius);
                    }

                    .ui-splitbutton-menubutton {
                        display: none;
                    }
                }
            }
        }
    }
}


div.column-setting-panel-column-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #F8F9FB;
    padding: 0 1.5em;

    .drag-handler {
        margin-right: .5em;

        &:hover {
            cursor: grab;
        }
    }

    &.cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    &.cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}