/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ::-webkit-scrollbar {
//     width: 12px;
//     height: 12px;
// }

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #DDDFE7;
// }
