<div class="sync-panel">
    <div class="revirser">
        <div class="slave-panel" #slavePanel>
            <div class="no-scroll">
                <ng-container *ngFor='let slaveTemplate of slaveTemplates'>
                    <ng-template *ngTemplateOutlet='slaveTemplate'></ng-template>
                </ng-container>
            </div>
            <div class="scrollbar-supplement" #scrollbarSupplement></div>
        </div>

        <div class="master-panel">
            <div class="scroll" #masterPanel>
                <ng-container *ngFor='let masterTemplate of masterTemplates'>
                    <ng-template *ngTemplateOutlet='masterTemplate'></ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>