<div class="grid-header">
    <div class="left-part">
        <ng-content select='[headerLeftPartPanelTopTemplate]'></ng-content>
        <div class="view slm">
            <byz-select *ngIf='enableFilterView' [options]="allViews" [ngModel]="activeView"
                (ngModelChange)='activeView=$event;changeActiveView()' [showClear]="false"></byz-select>
            <p class="filter-tip" [class.show]='sortTip||filterTip'>
                <span>{{sortTip}}</span>
                <span *ngIf='sortTip&&filterTip'>，</span>
                <span>{{filterTip}}</span>
                <span class="ck" *ngIf='filterTip' (click)='checkFilter()'>查看条件</span>
            </p>
        </div>
        <ng-content select='[headerLeftPartPanelBottomTemplate]'></ng-content>
    </div>
    <div class="right-part">
        <div class="action-button-template">
            <ng-content select='[headerRightPartPanelActionButtonTemplate]'></ng-content>
        </div>
        <div class="buttons">
            <div class="search">
                <byz-input class="slm" [showClear]="false" [(ngModel)]='keyword' (keyup.enter)='search()'
                    placeholder="搜索此列表"></byz-input>
            </div>
            <byz-button class="slm" type="default" icon="byz-icon bi-arrow-back" (click)="reset()" byzTooltip="清除搜索"
                tooltipPosition="bottom"></byz-button>
            <byz-button class="slm" type="default" icon="byz-icon bi-settings"
                (click)="closeFilterPanel();advanceSettingMenuCt.toggle($event)" byzTooltip="设置"
                tooltipPosition="bottom"></byz-button>
            <byz-button class="slm" type="default" icon="byz-icon bi-refresh" (click)='refresh()' byzTooltip="刷新"
                tooltipPosition="bottom"></byz-button>
            <byz-button class="slm" type="default" icon="byz-icon bi-funnel" (click)='toggleFilterPanel()'
                byzTooltip="筛选器" tooltipPosition="bottom">
            </byz-button>
        </div>
    </div>
</div>
<p-slideMenu #advanceSettingMenuCt appendTo="body" [model]="advanceSettingMenu" [popup]="true"></p-slideMenu>