div.grid-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-height: 2.5em;
    padding: 14px 18px;

    .slm {
        margin-top: .325em;
    }

    div.left-part {
        div.view {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            p.filter-tip {
                display: none;

                &.show {
                    display: block;
                }

                span.ck {
                    margin-left: 1em;
                    color: var(--byz-button-default-hover-foreground);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    div.right-part {
        flex: 1;

        div.buttons {
            flex: 1;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;

            div.search {
                position: relative;
                margin-right: 4px;

                .hidden {
                    display: none;
                }

                input {
                    width: 132px;
                    padding-left: .8em;
                    padding-right: 1.8em;
                }

                i.pi.search {
                    $size: 16px;
                    position: absolute;
                    top: 10px;
                    right: 8px;
                    width: $size;
                    height: $size;
                    color: #A5AABF;
                    font-size: $size;
                }

                i.pi.clear {
                    $size: 14px;
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    width: $size;
                    height: $size;
                    font-size: $size;
                    color: #A5AABF;

                    &:hover {
                        cursor: pointer;
                        color: #007AD9;
                    }
                }
            }

            &>byz-button {
                margin-left: 4px;
            }
        }
    }

}