<table #table>
    <thead>
        <tr class="table-row">
            <th class="table-cell select">
                <span (click)='selectAllRows()'>
                    <byz-checkbox *ngIf='selectMode === "multiple"' [(ngModel)]="allRowSelected"></byz-checkbox>
                </span>
            </th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor='let rowData of datas;trackBy:trackByDataFn'>
            <tr class="table-row" [class.hidden]='rowData["_hidden"]' (click)='onRowClick(rowData)'
                [tableStateRow]='rowData' [class.active]='rowData["_active"]'>
                <td class="table-cell">
                    <ng-container *ngIf='!rowData["_level"]||rowData["_level"]===1'>
                        <byz-checkbox *ngIf='selectMode === "multiple"' [ngModel]="rowData._selected" binary="true">
                        </byz-checkbox>
                        <byz-radio-button *ngIf='selectMode === "single"' name="select" [value]="rowData.id"
                            [(ngModel)]="radioSelect"></byz-radio-button>
                    </ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>