@import '../../table.scss';

table {
    @include TABLE;
    width: auto;
    min-width: 0;

    thead {
        .table-row {

            .table-cell {
                min-width: 0;

                &.select {
                    width: 40px;
                    padding: 0;
                }
            }
        }
    }

    tbody {
        .table-row {

            .table-cell {}
        }
    }


    .table-row {

        .table-cell {
            text-align: center;
        }
    }
}